<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div style="display:flex; align-items: center;">
      <h1 style="flex-grow: 1;">首页</h1>
      <a href="/api/logout">登出</a>
    </div>
    <ul>
      <% for(var i=0; i<routes.length; i++){ %>
        <li>
          <a href=<%=routes[i].path%>>
            <%=routes[i].title%>
          </a>
      </li>
      <%}%>
    </ul>
  </body>
</html>
