<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      .panel {
        width: 360px;
        margin: 100px auto;
      }

      .form > div {
        margin-bottom: 22px;
        display: flex;
      }

      .form input {
        display: block;
        width: 100%;
        height: 32px;
      }

      .form button {
        display: block;
        width: 100%;
        height: 36px;
        margin-bottom: 10px;
      }
    </style>
    <%- include("common.ejs") %>
  </head>
  <body>
    <div class="panel" id="app">
      <h1>Login</h1>
      <p style="color: red" v-if="errMsg">{{ errMsg }}</p>
      <div class="form">
        <div>
          <input
            type="text"
            v-model="form.username"
            placeholder="请输入账号"
            @keyup.enter="login"
          />
        </div>
        <div>
          <input
            type="password"
            v-model="form.password"
            placeholder="请输入密码"
            @keyup.enter="login"
          />
        </div>
        <div style="flex-direction: column">
          <button type="submit" @click="login">登录</button>
          <!-- <button type="button" @click="goRegister">注册</button> -->
        </div>
      </div>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data: {
        errMsg: "",
        form: {
          username: "",
          password: "",
        },
      },
      methods: {
        login: function () {
          this.errMsg = "";
          if (!this.form.username.trim() || !this.form.password.trim()) {
            this.errMsg = "请输入用户名/密码";
            return;
          }
          axios
            .post("/api/login", this.form)
            .then((res) => res.data)
            .then((res) => {
              if (res.ok) {
                localStorage.setItem("token", res.data);
                location.href = "/";
              } else {
                this.errMsg = res.errMsg;
              }
            });
        },
        goRegister: function () {
          location.href = "/register";
        },
      },
    });
  </script>
</html>
