<!--
 * @Author       : HyFun
 * @Date         : 2021-01-25 09:54:17
 * @Description  : mvvm实现
 * @LastEditors  : HyFun
 * @LastEditTime : 2021-01-26 19:32:10
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mvvm实现</title>
</head>
<body>
    <div id="app">
        <h1>人员信息表</h1>
        <div>
            <h2>信息</h2>
            <div>
                名字： {{person.name}} {{version}}
            </div>
            <div>
                年龄： {{person.age}}
            </div>
            <div>
                身高： {{person.height}}
            </div>
            <div>
                体重： {{person.weight}}
            </div>
            <div>
                描述： {{person.description}}
            </div>
        </div>
        <div>
            <h2>修改</h2>
            <div>
                姓名：<input type="text" v-model="person.name">
            </div>
            <div>
                年龄：<input type="text" v-model="person.age">
            </div>
            <div>
                身高：<input type="text" v-model="person.height">
            </div>
            <div>
                体重：<input type="text" v-model="person.weight">
            </div>
            <div>
                描述：<input type="text" v-model="person.description">
            </div>
        </div>
    </div>
</body>
<script src="./js/dep.js"></script>
<script src="./js/watcher.js"></script>
<script src="./js/observe.js"></script>
<script src="./js/compiler.js"></script>
<script src="./js/vue.js"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            person: {
                name: '张三',
                age: 23,
                height: 172,
                weight: 55,
                description: '帅气，年轻！'
            },
            version: '0.0.1'
        }
    })
</script>
</html>
